
.cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    height: 300px;
    width: 200px;
    border: 7px solid black;
    border-radius: 10px;
    margin: 20px;
}

.btns{
    display: flex;
}

button{
    height: 40px;
    width: 90px;
    border: 5px solid green;
    border-radius: 20px;
    background-color: green;
    color: white;
    margin: 20px;
    position: relative;
    left: 400px;
}

